@media screen and (min-width: 1280px) {
    .navegacion {
        display: flex;
        flex-direction: row !important;
        justify-content: center;

        .navegacion__menu {
            display: flex;
            flex-direction: row;

            li {
                padding: 2rem;
                list-style: none;
            }
        }
    }
    .footer__contenido{
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
    }

}