@import "mediaqueries";
@import "variables";
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;

    body {
        background-image: linear-gradient(to right, #bb6bd1, #7293fc, #00b3ff, #00caf2, #00dad0, #00dbcf, #00dbcf, #00dcce, #00cef7, #00b8ff, #0097ff, #b75ffb);
    }
}
/* Navegacion */
.navegacion {
    font-size: 10rem;
    background-color: $colorBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .navegacion__logo {
        width: 15rem;
        height: 15rem;
        border-radius: 35rem;
        border: 0.3rem solid $colorPrincipal;
    }

    .navegacion__menu li a {
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
        color: #ffffff;

        &:hover {
            color: $colorPrincipal;
        }
    }
}
/* Index */
.index__contenido{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .titulo__index{
        font-size: 4rem;
        font-weight: bold;
    }
    .subtitulo__index{
        font-size: 2rem;
        font-style: italic;
    }

    .section__index{
        margin-top: 2rem;
        margin-bottom: 2rem;
        img{
            width: 90%;
            border-radius: 25%;
            margin-bottom: 1rem;
        }
        .analisis{
            h3{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.5rem;
                margin: 2rem;
            }
        }
        .recomendacion__index{
            h3{
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            h4{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            .recomendacion__iframe{
                width: 90%;
            }
            .recomendacion__parrafos{
                font-size: 2rem;
                margin: 2rem;
                span{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $colorSecundario;
                }
            }
        }
    }
}
/* Footer */
.footer__contenido{
    background-color: $colorBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;

    .fiscal__data {
        color: #ffffff;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .fiscal__qr img {
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
    }
}
