/* ----------------------- Store ----------------------- */
.store__titulo{
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.card-img-top{
    height: 20rem;
}
/* ----------------------- Ayuda ----------------------- */
.ayuda__titulo{
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.ayuda{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    font-size: 3rem;
}
.ayuda__explain{
    border: whitesmoke outset 3.5px;
    border-radius: 7px;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
/* Quienes somos */
.quienessomos__titulo{
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.quienessomos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quienessomos p{
    font-size: 1rem;
    margin: 2rem;
}
.quienessomos p span{
    color: #570D66;
    font-weight: bold;
    font-size: 1rem;
}
.quienessomos img{
    width: 90%;
}
/* ----------------------- Contacto ----------------------- */
.contactenos__titulo{
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}
label{
    margin: 1rem;
}
.input__nombre{
    transition: width 2s;
}
.input__nombre:focus{
    width: 80%;
}
.input__email:focus{
    width: 80%;
}
textarea{
    width: 90%;
}
.botonesForm{
    margin: 2rem;
}
.botonesForm input{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}