* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  /* Eliminar marca de agua de host */
  /* body {
        background-image: linear-gradient(to right, #bb6bd1, #7293fc, #00b3ff, #00caf2, #00dad0, #00dbcf, #00dbcf, #00dcce, #00cef7, #00b8ff, #0097ff, #b75ffb);
    } */ }
  * .disclaimer {
    display: none; }

/* MAP EACH */
.grid__nav {
  background-color: #000000; }

.grid {
  background-color: whitesmoke; }

.footer__contenido {
  background-color: #000000; }

/* MAP GET */
.titulardos, .titulardos__index {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem; }

/* EXTEND */
.titulardos__index {
  color: red;
  margin-top: 0; }

/* MIXIN */
.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__contenido {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* ----------------------- GRID ----------------------- */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 0.2fr;
  grid-template-areas: "grid__nav" "grid__main" "grid__footer"; }

/* ----------------------- Navegacion ----------------------- */
.navegacion {
  font-size: 10rem;
  padding: 2rem; }
  .navegacion .navegacion__logo {
    width: 15rem;
    height: 15rem;
    border-radius: 35rem;
    border: 0.3rem solid #d7fa37; }
  .navegacion .navegacion__menu li a {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #ffffff; }
    .navegacion .navegacion__menu li a:hover {
      color: #d7fa37; }

/* ----------------------- Index ----------------------- */
.index__contenido {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .index__contenido .subtitulo__index {
    font-size: 2rem;
    font-style: italic; }
  .index__contenido .section__index {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .index__contenido .section__index img {
      width: 90%;
      border-radius: 25%;
      margin-bottom: 1rem; }
    .index__contenido .section__index .analisis h3 {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .index__contenido .section__index .analisis p {
      font-size: 1.5rem;
      margin: 2rem; }
    .index__contenido .section__index .recomendacion__index h3 {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .index__contenido .section__index .recomendacion__index h4 {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .index__contenido .section__index .recomendacion__index .recomendacion__iframe {
      width: 90%; }
    .index__contenido .section__index .recomendacion__index .recomendacion__parrafos {
      font-size: 2rem;
      margin: 2rem; }
      .index__contenido .section__index .recomendacion__index .recomendacion__parrafos span {
        font-size: 1.5rem;
        font-weight: bold;
        color: #570D66; }

/* ----------------------- Store ----------------------- */
.store__titulo {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.card__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  width: 23rem;
  height: 33rem;
  background: linear-gradient(145deg, #2B86C5 0%, #FF3CAC 100%);
  border-radius: 5px;
  box-shadow: 10px 10px 9px #c5c5c5, -10px -10px 9px #ffffff;
  transition: box-shadow 0.7s ease;
  margin-bottom: 4rem; }
  .card h5 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem; }
  .card p {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  .card a {
    text-decoration: none;
    font-size: 1rem;
    color: white; }
  .card:hover {
    box-shadow: 10px 10px 15px #c5c5c5, -10px -10px 15px #ffffff; }
  .card .card-img-top {
    height: 50%;
    width: 100%; }

/* ----------------------- Ayuda ----------------------- */
.ayuda__titulo {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.ayuda {
  display: flex;
  flex-direction: column;
  margin: 1.5rem; }
  .ayuda h2 {
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem; }
  .ayuda .ayuda__explain {
    background-color: #EBD4FA;
    border: whitesmoke outset 0.3rem;
    border-radius: 7px;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem; }
    .ayuda .ayuda__explain h3 {
      font-weight: 900;
      font-size: 2rem; }
    .ayuda .ayuda__explain p {
      font-size: 2rem; }

/* ----------------------- Quienes somos ----------------------- */
.quienessomos__titulo {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem; }

.quienessomos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .quienessomos img {
    width: 80%;
    border-radius: 15%; }
  .quienessomos p {
    font-size: 1.5rem;
    margin: 2rem; }
    .quienessomos p span {
      color: #570D66;
      font-weight: bold;
      font-size: 1.2rem; }

/* ----------------------- Contacto ----------------------- */
.contactenos__titulo {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem; }
  .contacto label {
    margin: 1rem; }
  .contacto .input__nombre:focus {
    width: 80%; }
  .contacto .input__email:focus {
    width: 80%; }
  .contacto textarea {
    width: 90%; }
  .contacto .botonesForm {
    margin: 2rem; }
    .contacto .botonesForm input {
      width: 10rem;
      height: 3rem;
      font-size: 1.5rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      border-radius: 1rem;
      background-color: #212121;
      color: #fff;
      font-weight: 500; }
      .contacto .botonesForm input:hover {
        background-color: #fff;
        color: #212121;
        font-weight: 600; }

/* ----------------------- Footer ----------------------- */
.footer__contenido {
  padding: 2rem 2rem 2rem 2rem; }
  .footer__contenido .fiscal__data {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .footer__contenido .fiscal__qr img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem; }

/* ----------------------- Media Quieries ----------------------- */
@media screen and (min-width: 1280px) {
  .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .navegacion .navegacion__menu {
      display: flex;
      flex-direction: row; }
      .navegacion .navegacion__menu li {
        padding: 2rem;
        list-style: none; }
  .index__contenido .section__index .analisis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem; }
    .index__contenido .section__index .analisis img {
      width: 30rem;
      height: 30rem; }
    .index__contenido .section__index .analisis h3 {
      font-size: 3rem; }
    .index__contenido .section__index .analisis p {
      font-size: 2rem; }
  .card__conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .card__conteiner .card {
      margin: 2rem; }
  .quienessomos {
    display: flex;
    flex-direction: row;
    margin: 5rem 2rem 5rem 2rem; }
    .quienessomos img {
      width: 50%; }
  .contacto .input__nombre:focus {
    width: 30%; }
  .contacto .input__email:focus {
    width: 30%; }
  .contacto textarea {
    width: 50%; }
  .footer__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }
